@model fullcalendar.ViewModels.CreateEvent

@{
    ViewBag.Title = "Create";
}
@section scripts{

    <script type="text/javascript">

    $(document).ready(function () {

        var sourceFullView = { url: '/Home/getevents/' };
        var sourceSummaryView = { url: '/Home/getevents/' };
        var eventsLoaded = false;
        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            defaultView: 'timelineMonth',

            events: '/Home/getevents',

            // [
            //        { "id": "1", "resourceId": "b", "start": "2016-03-15T02:00:00", "end": "2016-03-15T07:00:00", "title": "event 1" },
            //{ "id": "2", "resourceId": "c", "start": "2016-03-16T05:00:00", "end": "2016-03-16T22:00:00", "title": "event 2" },
            //{ "id": "3", "resourceId": "d", "start": "2016-03-17", "end": "2016-03-17", "title": "event 3" },
            //{ "id": "4", "resourceId": "e", "start": "2016-03-18T03:00:00", "end": "2016-03-18T08:00:00", "title": "event 4" },
            //{ "id": "5", "resourceId": "f", "start": "2016-03-19T00:30:00", "end": "2016-03-19T02:30:00", "title": "event 5" }

            // ],




                resources: '/Home/getresources',
            //[

        //        { "id": "a", "title": "Auditorium A" },
        //{ "id": "b", "title": "Auditorium B", "eventColor": "green" },
        //{ "id": "c", "title": "Auditorium C", "eventColor": "orange" },
        //{
        //    "id": "d", "title": "Auditorium D", "children": [
        //      { "id": "d1", "title": "Room D1" },
        //      { "id": "d2", "title": "Room D2" }
        //    ]
        //},
        //{ "id": "e", "title": "Auditorium E" },
        //{ "id": "f", "title": "Auditorium F", "eventColor": "red" },
        //{ "id": "g", "title": "Auditorium G" },
        //{ "id": "h", "title": "Auditorium H" },
        //{ "id": "i", "title": "Auditorium I" },
        //{ "id": "j", "title": "Auditorium J" },
        //{ "id": "k", "title": "Auditorium K" },
        //{ "id": "l", "title": "Auditorium L" },
        //{ "id": "m", "title": "Auditorium M" },
        //{ "id": "n", "title": "Auditorium N" },
        //{ "id": "o", "title": "Auditorium O" },
        //{ "id": "p", "title": "Auditorium P" },
        //{ "id": "q", "title": "Auditorium Q" },
        //{ "id": "r", "title": "Auditorium R" },
        //{ "id": "s", "title": "Auditorium S" },
        //{ "id": "t", "title": "Auditorium T" },
        //{ "id": "u", "title": "Auditorium U" },
        //{ "id": "v", "title": "Auditorium V" },
        //{ "id": "w", "title": "Auditorium W" },
        //{ "id": "x", "title": "Auditorium X" },
        //{ "id": "y", "title": "Auditorium Y" },
        //{ "id": "z", "title": "Auditorium Z" }
        //    ],

            //theme: true,
            //header: {
            //    left: 'prev, next, today',
            //    center: 'title',
            //    right: 'timelineMonth,agendaWeek,agendaDay'
            //},
            
            //defaultView: 'timelineMonth',
            editable: true,
            allDaySlot: false,
            selectable: true,
            slotMinutes: 15,
            groupByResource: true,

            dayClick: function (date, jsEvent, view) {
                window.location.href = "/home/create"

            },
            eventClick: function (calEvent, jsEvent, view) {

                alert('Event: ' + calEvent.title);

            }


            // put your options and callbacks here
        });



    });
</script>

}

<div class="jumbotron">
    <h1>Create Event</h1>

    
</div>
<div>
    <form action="/Home/create" method="post">
        @Html.LabelFor(model => model.id)
        @Html.TextBoxFor(model => model.id, new { @class = "form-control" })

        @Html.LabelFor(model => model.resourceId)
        @Html.TextBoxFor(model => model.resourceId, new { @class = "form-control" })
   
        @Html.LabelFor(model => model.start)
        @Html.TextBoxFor(model => model.start, new { @class = "form-control" })

        @Html.LabelFor(model => model.end)
        @Html.TextBoxFor(model => model.end, new { @class = "form-control" })

        @Html.LabelFor(model => model.title)
        @Html.TextBoxFor(model => model.title, new { @class = "form-control" })















        


      












        <input type="submit" value="Skapa" />

    </form>
</div>

<br />
<div class="row">

        <div id='calendar'></div>
 
</div>
